header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  flex-wrap: wrap;
}

.nav-left {
  order: 1;
}

.nav-right {
  order: 2;
  margin-top: 0.5em;
}

#brand {
  display: flex;
}

#brand .text {
  margin-left: 10px;
}

@media (max-width: 767px) {
  header nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-left {
    order: 1;
  }

  .nav-right {
    order: 2;
    margin-top: 0.5em;
  }

  #brand {
    flex-direction: row !important;
    justify-content: center;
    display: flex;
  }

  #brand .text {
    margin-left: 10px;
  }

  #brand .icon {
    width: 75px;
  }
}

body {
  max-width: 860px;
  line-height: 1.4;
  font-size: 16px;
}

a.tag,
a.tag:link,
a.tag:visited {
  background-color: #326f97;
  border-radius: 4px;
  color: #ffffff;
  margin-left: 5px;
  padding: 1px 5px;
  text-decoration: none;
  vertical-align: middle;
}

a.tag:hover {
  background-color: #245577;
  color: #ffffff;
  text-decoration: none;
}

a,
a:visited {
  color: #55bbff;
}

p>code {
  background: #1a1a1a;
  position: relative;
  font-size: 14px;
  padding: 0.15em 0.4em;
  border-radius: 4px;
  vertical-align: baseline;
  background: #1a1a1a;
  color: lightblue;
}

pre {
  padding: 1px;
  border-radius: 8px;
  background: linear-gradient(90deg, #5bf, #a78bfa), #1a1a1a;
}

pre code {
  display: block;
  overflow-x: auto;
  font-size: 10px;
  padding: 15px;
  color: lightgray;
  border-radius: 8px;
  background: #1e1e1e;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  /* max-width: 100%; */
  /* min-width: 100px; */
}
