<header>
  <div id="brand">
    <a class="icon-link" href="{{ .Site.BaseURL }}">
      <img
        class="icon"
        src="{{ default "images/brandIcon.svg" .Site.Params.brandIconFile | relURL }}"
      />
    </a>
    <div class="text">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <h3>{{ default "Description about Blog Author" .Site.Params.subtitle }}</h3>
    </div>
  </div>
  <nav>
    {{ $menu := .Site.Menus.main }}
    <span class="nav-left">
      {{ $idx := 0 }}
      {{ range $menu }}
        {{ if not (or (eq .Identifier "rss-posts") (eq .Identifier "rss-memos") (eq .Identifier "ES") (eq .Identifier "EN")) }}
          {{ if gt $idx 0 }} | {{ end }}
          <a href="{{ .URL | relURL }}"{{ with .Params.target }} target="{{ . }}" rel="noopener noreferrer"{{ end }}><b>{{ .Name }}</b></a>
          {{ $idx = add $idx 1 }}
        {{ end }}
      {{ end }}
    </span>
    <span class="nav-right">
      {{ $memosURL := "" }}
      {{ range $menu }}{{ if eq .Identifier "rss-memos" }}{{ $memosURL = .URL }}{{ end }}{{ end }}
      {{ range $menu }}{{ if eq .Identifier "rss-posts" }}
        {{ $postsLabel := "Posts" }}{{ if eq $.Site.Language.Lang "es" }}{{ $postsLabel = "Publicaciones" }}{{ end }}
        RSS<svg xmlns="http://www.w3.org/2000/svg" width="30" height="25" viewBox="0 0 30 30" fill="#E37417" style="vertical-align:middle;margin-right:2px"><circle cx="6.18" cy="17.82" r="2.18"/><path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"/></svg>(<a href="{{ .URL }}" target="_blank"><b>{{ $postsLabel }}</b></a>|<a href="{{ $memosURL }}"><b>Memos</b></a>)
      {{ end }}{{ end }}
      | <a href="/es"><b>ES</b></a> / <a href="/en"><b>EN</b></a>
    </span>
  </nav>
  <hr />
</header>
